{% extends "layout.html" %}

{% block body %}



   <h1 class="mx-auto"> {{my_favorite}} İçin Film Önerileri:</h1>
   <table class="table table-striped" style="margin-left: 20px;">
     <!-- Table headers -->
         <th>
             <tr style="color: green; ">    
             <td> </td>
             <td>Movie Name</td>
             <td>Trailer</td>
     </tr>
         </th>
           
     <!-- For loop logic of jinja template -->
     {%for i, (idx,dist) in raw_recommends%}
       
     <!-- table rows -->
     <tr>
         <td>{{i+1}}</td>
         <td>{{reverse_mapper[idx]}}</td>
         <td><iframe src={{"https://autoembed.to/trailer/movie/" + movieLink[idxToMovieId[idx]]}}  width ="100%" height="100%" frameborder="0" allowfullscreen></iframe></td>
       
     {%endfor%}
       
     </tr>
       
     </table>
     
{% endblock %}     
